<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Provide the FQDN of the Microsoft Lync Server -->
    <add key="ServerFQDN1" value="sip.domain.com" />
    <add key="ServerPort1" value="5061" />
    <!-- The user URI of the user in the format user@host must be specified -->
    <!-- The user name and domain of the user, blank to use credentials of the currently logged on user -->
    <add key="UserURI1" value="test.user@domain.com" />
    <add key="UserName1" value="username" />
    <add key="UserPass1" value="password" />
    <add key="UserDomain1" value="domain" />
    <!-- Additional options for contact card publication -->
    <add key="JobTitle" value="Put your job title here" />
    <add key="UserTitle" value="Put your user title here" />
    <add key="UserNote" value="Put your note here" />
    <add key="UserOffice" value="Put your office here" />
    <add key="PhotoUri" value="http://domain.com/photo.jpg" />
  </appSettings>
</configuration>